{% extends 'backend.html.twig' %}

{% block body %}
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3><center><strong> Detailanzeige des Stellenangebotes</strong></center></h3>
            </div>
        </div>
    </div>

    <hr>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a class='btn btn-primary btn-block btn-md' href="{{ path('Stellenangebote_anzeigen') }}"><span class="glyphicon glyphicon-arrow-left"></span> zurück zu den Stellenangeboten!</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <!-- linke Spalte -->
                <div class="col-md-6">
                    <div>
                        <li class="list-group-item">Jobbezeichnung: {{ stellenangebot.jobbezeichnung }}</li>
                        <li class="list-group-item">Nachname: {{ stellenangebot.arbeitsort }}</li>
                        <li class="list-group-item">Straße: {{ stellenangebot.berufszweig }}</li>
                        <li class="list-group-item">Hausnummer: {{ stellenangebot.arbeitsumfeld }}</li>
                        <li class="list-group-item">Postleitzahl: {{ stellenangebot.aufgaben }}</li>
                        <li class="list-group-item">Ort: {{ stellenangebot.joblevel }}</li>
                        <li class="list-group-item">Ort: {{ stellenangebot.erstelldatum|date('Y-m-d') }}</li>
                        <li class="list-group-item">Ort: {{ stellenangebot.besetzungszeitpunkt|date('Y-m-d') }}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



