<!DOCTYPEhtml>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Basis-Webseiten HTML-Datei">
        <meta name="author" content="Michael Trotzer">

        <title>{% block title %}Kiuwe Gruppe{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap core CSS CND -->

            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap core CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="{{ asset('css/Frontend/paralax.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/Frontend/timeline.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/Frontend/navbar.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/Frontend/logo.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/Frontend/footer.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/Frontend/schriftart.css') }}" />

        {% endblock %}

    </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-left">
                    <!-- Dropdown Unsere Kita -->
                    <li><a href="{{ path('Startseite') }}">Willkommen</a></li>
                    <li><a href="{{ path('Leitbild') }}">Leitbild</a></li>
                    <li><a href="{{ path('Konzept') }}">Konzept</a></li>
                    <li><a href="{{ path('Werte') }}">Unsere Werte</a></li>
                    <li class="KiuweGruppe">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Kiuwe Gruppe</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('Kiuweug') }}"> Kiuwe UG</a></li>
                            <li><a href="{{ path('Kiuweberlin') }}">Kiuwe Berlin gemeinnützige UG</a></li>
                            <li><a href="{{ path('Kiuwebrandenburg') }}">Kiuwe Brandenburg gemeinnützige UG</a></li>
                            <li><a href="#">Service Nahrung UG</a></li>
                            <li><a href="#">Charity Veranstaltung e.V. </a></li>
                        </ul>
                    </li> <!-- Dropdown Ende -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Anmelden</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Begin page content -->
    {% block body %}
        {% block fos_user_content %}{% endblock fos_user_content %}
        <!-- Hier kommen die jeweiligen Seitenlayouts rein -->
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div class="row">
            <div class="col-sm-3">
                &copy; Design by Michael Trotzer
            </div>
            <div class="col-sm-offset-6 col-sm-1">
                <a href="{{ path('Impressum') }}">Impressum</a>
            </div>
            <div class="col-sm-1">
                <a href="{{ path('Kontakt') }}">Kontakt</a>
            </div>
            <div class="col-sm-1">
                <a href="{{ path('Karriere') }}">Karriere</a>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap core JavaSkript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>