{% extends 'backend.html.twig' %}

{% block body %}

    <div class="panel-heading">
        <a class='btn btn-primary btn-xs' href="{{ path('Dashboard') }}"><span class="glyphicon glyphicon-home"></span></a>
    </div>

    <div class="jumbotron">
        <div class="row">
                <h1 class="panel-title"><center>Übersicht der Mitarbeiter</center></h1>
        </div>

        <hr>

        <div class="row">
            <!-- linke Spalte -->
            <div class="col-md-3">
                <a class='btn btn-primary btn-xs' href="{{ path('Mitarbeiter_erstellen') }}"><span class="glyphicon glyphicon-pencil"></span> Mitarbeiterprofil anlegen</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Personalnummer</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Telefon</th>
                <th>Position</th>
                <th>Bearbeitungsmöglichkeiten</th>
            </tr>
            </thead>
            <tbody>
            {% for mitarbeiter in mitarbeiter %}
                <tr>
                    <th scope="row"> {{ mitarbeiter.id }} </th>
                    <td> {{ mitarbeiter.vorname }} </td>
                    <td> {{ mitarbeiter.nachname}} </td>
                    <td> {{ mitarbeiter.telefon }} </td>
                    <td> {{ mitarbeiter.position}} </td>
                    <td>
                        {#@TODO keine hartgecodeten URLS verwenden#}
                        <a class='btn btn-success btn-xs' href="{{ path('Mitarbeiter_details', { 'id' : mitarbeiter.id }) }}"><span class="glyphicon glyphicon-search"></span> Details</a>
                        {#@TODO keine hartgecodeten URLS verwenden#}
                        <a class='btn btn-info btn-xs' href="{{ path('Mitarbeiter_bearbeiten', { 'id' : mitarbeiter.id }) }}"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</a>
                        {#@TODO keine hartgecodeten URLS verwenden#}
                        <a href="{{ path('Mitarbeiter_löschen', { 'id' : mitarbeiter.id }) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Löschen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
