{% extends 'backend.html.twig' %}

{% block body %}

    <div class="panel-heading">
        <a href="{{ path('Dashboard') }}" class="btn btn-default btn-xs">zurück</a>
    </div>

    <div class="jumbotron">
        <div class="row">
            <h1 class="panel-title"><center>Übersicht der Stellenangebote</center></h1>
        </div>

        <hr>
        <a href="{{ path('Mitarbeiter_anzeigen') }}" class="btn btn-primary">zurück zur Übersicht</a>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Stellennummer</th>
                <th>Jobbezeichnung</th>
                <th>Arbeitsort</th>
                <th>Zweig</th>
                <th>Joblevel</th>
                <th>Erstelldatum</th>
                <th>Besetzungszeitpunkt</th>
            </tr>
            </thead>
            <tbody>
            {% for karriere in karriere %}
                <tr>
                    <th scope="row"> {{ karriere.id }} </th>
                    <td> {{ karriere.jobbezeichnung }} </td>
                    <td> {{ karriere.arbeitsort}} </td>
                    <td> {{ karriere.zweig }} </td>
                    <td> {{ karriere.joblevel}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
