{% extends 'backend.html.twig' %}

{% block body %}

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3><center><strong> Übersicht der eingegangen Bewerbungen</strong></center></h3>
            </div>
        </div>
    </div>

    <hr>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4"></div>

            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Bewerbungen suchen...">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr class="active">
                        <th><small>ID</small></th>
                        <th><small>Anrede</small></th>
                        <th><small>Vorname</small></th>
                        <th><small>Nachname</small></th>
                        <th><small>Telefon Privat</small></th>
                        <th><small>Telefon Mobil</small></th>
                        <th><small>E-Mail-Adresse</small></th>
                        <th><small>Lebenslauf</small></th>
                    </tr>
                    </thead>
                    {% for bewerbungen in bewerbungen %}
                    <tbody>
                        <tr>
                            <th><small> {{ bewerbungen.id }}</small> </th>
                            <td><small> {{ bewerbungen.anrede }}</small> </td>
                            <td><small> {{ bewerbungen.vorname}}</small> </td>
                            <td><small> {{ bewerbungen.nachname }}</small> </td>
                            <td><small> {{ bewerbungen.telefonPrivat }}</small> </td>
                            <td><small> {{ bewerbungen.telefonMobil}}</small> </td>
                            <td><small> {{ bewerbungen.email }}</small> </td>
                            <td><small> {{ bewerbungen.lebenslauf}}</small> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
