{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">

                    <div class="überschrift2">
                        Die Kiuwe Gruppe
                    </div>

                    <div class="ptext">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive img-circle" src="{{ asset('images/kindergarten.jpg') }}" />
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-6">
                    <img class="img-responsive img-circle" src="{{ asset('images/kindergarten.jpg') }}" />
                </div>

                <div class="col-md-6">
                    <div class="überschrift2">
                        Warum Kiuwe als Arbeitgeber?
                    </div>

                    <div class="ptext">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="überschrift2">
                    Karrierechancen bei der Kiuwe Gruppe
                </div>

                <div class="ptext">
                    Willkommen auf der Karriereseite der Kiuwe Gruppe, aktuelle Stellenangebote finden
                    Sie hier ausgeschrieben, viel Spaß bei dem durchstöbern!
                </div>

                <div class="row">
                    <div class="col-md-12">
                <!-- Flexibler Teil -->
                {% for stellenangebote in stellenangebote %}
                    <br>

                    <ul class="list-group">
                        <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#{{ stellenangebote.jobbezeichnung }}" aria-expanded="false" aria-controls="collapseBeispiel">
                            <div class="row">
                                <div class="col-md-1">
                                    <strong> {{ stellenangebote.jobbezeichnung }}</strong> <br><br>
                                </div>

                                <div class="col-md-offset-10 col-md-1">
                                    <span class="glyphicon glyphicon-plus"></span> Details
                                </div>
                            </div>
                        </button>

                        <div class="collapse" id="{{ stellenangebote.jobbezeichnung }}">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="glyphicon glyphicon-edit"></span> Jobbezeichnung: <br>
                                        <span class="glyphicon glyphicon-search"></span> Identifikationsnummer: <br>
                                        <span class="glyphicon glyphicon-hourglass"></span> Erstelldatum: <br>
                                        <span class="glyphicon glyphicon-map-marker"></span> Arbeitsort: <br>
                                        <span class="glyphicon glyphicon-education"></span> Joblevel: <br>
                                        <span class="glyphicon glyphicon-user"></span> Berufszweig: <br>
                                        <span class="glyphicon glyphicon-calendar"></span> Stellenbesetzungszeitpunkt: <br>
                                        <br>
                                    </div>

                                    <div class="col-md-3">
                                        <strong> {{ stellenangebote.jobbezeichnung }}</strong> <br>
                                        <strong> {{ stellenangebote.id }}</strong> <br>
                                        <strong> {{ stellenangebote.erstelldatum|date('d.m.Y') }}</strong> <br>
                                        <strong> {{ stellenangebote.arbeitsort }}</strong> <br>
                                        <strong> {{ stellenangebote.joblevel }}</strong> <br>
                                        <strong> {{ stellenangebote.berufszweig }}</strong> <br>
                                        <strong> {{ stellenangebote.besetzungszeitpunkt|date('d.m.Y') }}</strong>  <br>
                                    </div>


                                    <div class="col-md-3">
                                        <strong> Fragen zum Stellenangebot? </strong>
                                        <br>
                                        <br>
                                        Ansprechnpartner: <br>
                                        Telefonnummer: <br>
                                    </div>

                                    <div class="col-md-3">
                                        <br>
                                        <br>
                                        <strong>{{ stellenangebote.ansprechpartner  }}</strong> <br>
                                        <strong> {{ stellenangebote.telefonnummer  }} </strong> <br>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align:justify;">
                                            <span class="glyphicon glyphicon-heart"></span> Arbeitsumfeld: <strong> <br>
                                                {{ stellenangebote.arbeitsumfeld  }}</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div style="text-align:justify;">
                                            <span class="glyphicon glyphicon-list-alt"></span> Aufgabenbeschreibung: <strong> <br>
                                                {{ stellenangebote.aufgaben }}</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <hr>
                                        <button {{ path('Stellenangebote_details', { 'id' : stellenangebote.id }) }} type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                                            <span class="glyphicon glyphicon-edit"></span> Hier können Sie sich bewerben</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </ul>
                {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-6">
                    <img class="img-responsive img-circle" src="{{ asset('images/kindergarten.jpg') }}" />
                </div>

                <div class="col-md-6">
                    <div class="überschrift2">
                        Initiativbewerbung
                    </div>

                    <div class="ptext">
                        Keine passende Stelle gefunden aber es besteht dennoch interesse bei der Kiuwe Gruppe zu arbeiten?
                        Dann schreiben Sie doch einfach eine Initiativbewerbung an uns!
                        <br>
                        <br>

                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-edit"></span> Hier können Sie sich bewerben</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Hier geht es zum Bewerbungsformular</h4>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:justify;">
                            Sehr geehrte Bewerberin, <br>
                            sehr geehrter Bewerber <br>
                            <br>

                            Vielen Dank dass sie Sich dazu entschieden haben, am Bewerbungsprozess der
                            Kiuwe Gruppe teilzunehmen! <br><br>

                            Hier folgen ein paar Informationen zu der Bewerbungsstruktur! <br><br>

                            1. Bitte senden Sie uns Ihren Lebenslauf zu <br>
                            2. Bitte senden Sie uns Ihre Zeugnisse zu <br>
                            3. Bitte formulieren Sie ein personalisertes Anschreiben. <br>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        <a href="{{ path('Bewerbungen_erstellen') }}" class="btn btn-primary">Bewerben</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}