{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="überschrift">
              Kontakt
            </div>
        </div>

        <div class="überschrift2">
            Kontaktformular <br>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_label(form.anrede) }}
                    {{ form_errors(form.anrede) }}
                    {{ form_widget(form.anrede) }}

                    {{ form_label(form.nachname) }}
                    {{ form_errors(form.nachname) }}
                    {{ form_widget(form.nachname) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.vorname) }}
                    {{ form_errors(form.vorname) }}
                    {{ form_widget(form.vorname) }}

                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="col-md-12">
                {{ form_label(form.betreff) }}
                {{ form_errors(form.betreff) }}
                {{ form_widget(form.betreff) }}

                {{ form_label(form.nachricht) }}
                {{ form_errors(form.nachricht) }}
                {{ form_widget(form.nachricht) }}

                {{ form_widget(form) }}
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
{% endblock %}