{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="überschrift">
                Kontakt
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="überschrift2">
                    Sprechen Sie uns an!
                </div>
                <div class="ptext">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                </div>
            </div>

            <div class="col-sm-6">
                <div class="überschrift2">
                    Hier finden Sie uns!
                </div>

                <div class="row col1">
                    <div class="col-xs-3">
                        <div class="ptext">
                            <i class="fa fa-map-marker"></i>
                            Adresse
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="ptext">
                            Sprengelstraße 27 <br>
                            13353 Berlin <br>
                            Deutschland
                        </div>
                    </div>
                </div>

                <div class="row col1">
                    <div class="col-sm-3">
                        <div class="ptext">
                            <i class="fa fa-phone"></i>  
                            Telefon:
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="ptext">
                            +(49) 172 564 8306
                        </div>
                    </div>
                </div>
                <div class="row col1">
                    <div class="col-sm-3">
                        <div class="ptext">
                            <i class="fa fa-fax"></i>  
                            Fax
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="ptext">
                            123 123 4567
                        </div>
                    </div>
                </div>
                <div class="row col1">
                    <div class="col-sm-3">
                        <div class="ptext">
                            <i class="fa fa-envelope"></i>  
                            E-Mail
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="ptext">
                            <a href="mailto:info@yourdomain.com">info@kiuwe-gruppe.de</a> <br>
                        </div>
                    </div>
                </div><br>
                <iframe width="100%"
                        height="300"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCO9aUfVkUWTBL5DgbPsaj1uhxr2WoLLKc
                        &q=Karl's Erdbeere
                        &center=52.580910,13.399884
                        &zoom=17"
                        style="border-radius:20px;">
                </iframe>
            </div>

            <div class="col-sm-12">

                <div class="überschrift2">
                    BlaBla
                </div>
                <div class="ptext">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                </div>
            </div>
        </div>

        <br>


        <div class="überschrift2">
            Kontaktformular <br>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_label(form.anrede) }}
                    {{ form_errors(form.anrede) }}
                    {{ form_widget(form.anrede) }}

                    {{ form_label(form.vorname) }}
                    {{ form_errors(form.vorname) }}
                    {{ form_widget(form.vorname) }}

                    {{ form_label(form.nachname) }}
                    {{ form_errors(form.nachname) }}
                    {{ form_widget(form.nachname) }}

                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.betreff) }}
                    {{ form_errors(form.betreff) }}
                    {{ form_widget(form.betreff) }}

                    {{ form_label(form.nachricht) }}
                    {{ form_errors(form.nachricht) }}
                    {{ form_widget(form.nachricht) }}
                </div>

                <div class="col-md-12">
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        {% for flash_message in app.session.flashBag.get('E-Mail') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

    </div>

    <br>
    <br>
{% endblock %}