    {% extends 'backend.html.twig' %}

    {% block body %}

        <div class="panel-heading">
            <a class='btn btn-primary btn-xs' href="{{ path('Dashboard') }}"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <div class="jumbotron">
            <div class="row">
                <h1 class="panel-title"><center>Übersicht der Stellenangebote</center></h1>
            </div>

            <hr>

            <div class="row">
                <!-- linke Spalte -->
                <div class="col-md-3">
                    <a class='btn btn-primary btn-xs' href="{{ path('Stellenangebote_erstellen') }}"><span class="glyphicon glyphicon-pencil"></span> Stellenangebot anlegen</a>
                </div>
            </div>
            <table class="table .table-condensed table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Jobbezeichnung</th>
                    <th>Arbeitsort</th>
                    <th>Erstelldatum</th>
                    <th>Besetzungszeitpunkt</th>
                </tr>
                </thead>
                <tbody>
                {% for stellenangebote in stellenangebote %}
                    <tr>
                        <th scope="row"> {{ stellenangebote.id }} </th>
                        <td> {{ stellenangebote.jobbezeichnung }} </td>
                        <td> {{ stellenangebote.arbeitsort}} </td>
                        <td> {{ stellenangebote.erstelldatum|date('Y-m-d') }}</td>
                        <td> {{ stellenangebote.besetzungszeitpunkt|date('Y-m-d') }}</td>
                        <td>
                            <a class='btn btn-success btn-xs' href="{{ path('Stellenangebote_details', { 'id' : stellenangebote.id }) }}"><span class="glyphicon glyphicon-search"></span> Details</a>
                            <a class='btn btn-info btn-xs' href="{{ path('Stellenangebote_bearbeiten', { 'id' : stellenangebote.id }) }}"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</a>
                            <a href="{{ path('Stellenangebote_löschen', { 'id' : stellenangebote.id }) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Löschen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}