{% extends 'base.html.twig' %}

    {% block body %}

        <div class="jumbotron">

            <h3 class="panel-title">Übersicht der Stellenangebote</h3>

            Die nachfolgenden ....

            <hr>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Jobbezeichnung</th>
                    <th>Arbeitsort</th>
                    <th>Erstelldatum</th>
                    <th>Besetzungszeitpunkt</th>
                    <th>Aktionsmöglichkeiten</th>
                </tr>
                </thead>
                <tbody>
                {% for stellenangebote in stellenangebote %}
                    <tr>
                        <th scope="row"> {{ stellenangebote.id }} </th>
                        <td> {{ stellenangebote.jobbezeichnung }} </td>
                        <td> {{ stellenangebote.arbeitsort}} </td>
                        <td> {{ stellenangebote.erstelldatum|date('Y-m-d') }}</td>
                        <td> {{ stellenangebote.besetzungszeitpunkt|date('Y-m-d') }}</td>
                        <td>
                            <a class='btn btn-success btn-xs' href="{{ path('Stellenangebote_details', { 'id' : stellenangebote.id }) }}"><span class="glyphicon glyphicon-search"></span> Details</a>
                            <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Bewerben</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}