{% extends 'backend.html.twig' %}

{% block body %}

    <div class="panel-heading">
        <h3 class="panel-title"><center>Stellenangebot erstellen</center></h3>
    </div>

    <div class="jumbotron">
        <a href="{{ path('Mitarbeiter_anzeigen') }}" class="btn btn-primary">zurück zur Mitarbeiterübersicht</a>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-12">
                <h3> Persönliche Daten: </h3>
            </div>
        </div>

        <div class="row">
            <!-- linke Spalte -->
            <div class="col-md-6">
                <div>
                    {#@TODO kann man die 3 nicht in {{ form() }} zusammenfassen?#}
                    {{ form_label(form.jobbezeichnung) }}
                    {{ form_errors(form.jobbezeichnung) }}
                    {{ form_widget(form.jobbezeichnung) }}

                    {{ form_label(form.arbeitsort) }}
                    {{ form_errors(form.arbeitsort) }}
                    {{ form_widget(form.arbeitsort) }}

                    {{ form_label(form.zweig) }}
                    {{ form_errors(form.zweig) }}
                    {{ form_widget(form.zweig) }}

                    {{ form_label(form.arbeitsumfeld) }}
                    {{ form_errors(form.arbeitsumfeld) }}
                    {{ form_widget(form.arbeitsumfeld) }}
                </div>
            </div>
            <!-- rechte Spalte -->
            <div class="col-md-6">
                <div>
                    {{ form_label(form.aufgaben) }}
                    {{ form_errors(form.aufgaben) }}
                    {{ form_widget(form.aufgaben) }}

                    {{ form_label(form.joblevel) }}
                    {{ form_errors(form.joblevel) }}
                    {{ form_widget(form.joblevel) }}

                    {{ form_label(form.erstelldatum) }}
                    {{ form_errors(form.erstelldatum) }}
                    {{ form_widget(form.erstelldatum) }}

                    {{ form_label(form.besetzungszeitpunkt) }}
                    {{ form_errors(form.besetzungszeitpunkt) }}
                    {{ form_widget(form.besetzungszeitpunkt) }}

                </div>
            </div>
        </div>

        {{ form_widget(form.save) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
