{% extends 'backend.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><center>Mitarbeiter</center></h3>
        </div>

        <div class="jumbotron">
            <a href="{{ path('Mitarbeiter_anzeigen') }}" class="btn btn-primary">zurück zur Mitarbeiterübersicht</a>
            <div class="row">
                <div class="col-md-12">
                    <h3> Persönliche Daten: </h3>
                </div>
            </div>

            <div class="row">
                <!-- linke Spalte -->
                <div class="col-md-6">
                    <div>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.vorname }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.nachname }}</li>
                        <li class="list-group-item">Straße: {{ mitarbeiter.strasse }}</li>
                        <li class="list-group-item">Hausnummer: {{ mitarbeiter.hausnummer }}</li>
                        <li class="list-group-item">Postleitzahl: {{ mitarbeiter.postleitzahl }}</li>
                        <li class="list-group-item">Ort: {{ mitarbeiter.ort }}</li>
                    </div>
                </div>

                <!-- rechte Spalte -->
                <div class="col-md-6">
                    <div>
                        <li class="list-group-item">Personalausweißnummer: {{ mitarbeiter.personalausweissnummer }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.familienstand }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.geburtsdatum|date('Y-m-d') }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.geburtsort }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.telefon }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.email }}</li>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3> Unternehmensdaten: </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.abteilung }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.position }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.einstellungsdatum|date('Y-m-d') }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.steuerklasse }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.steueridentifiktationsnummer }}</li>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.bildungsabschluss }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.bruttoarbeitslohn }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.arbeitsstunden }}</li>
                        <li class="list-group-item">Nachname: {{ mitarbeiter.krankenkasse }}</li>
                        <li class="list-group-item">Vorname: {{ mitarbeiter.sozialversicherungsausweiss }}</li>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3> Weitere Daten: </h3>
                    <li class="list-group-item">Vorname: {{ mitarbeiter.bewerbung }}</li>
                    <li class="list-group-item">Nachname: {{ mitarbeiter.arbeitszeugnis }}</li>
                    <li class="list-group-item">Vorname: {{ mitarbeiter.foto }}</li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



